@charset "UTF-8";
img {
  width: 393px; /* 幅を指定 */
  height: 100px; /* 高さを指定 */
   position: absolute; /* 画像の位置を絶対位置指定に変更 */
  top: 30px; /* 画像の上端の位置 */
  left: 440px; /* 画像の左端の位置 */

}

.border {
    border-top: 3px solid #aaa;
  border-bottom: 3px solid #aaa;
  background-color: #eee;
  padding: 2em;
  margin-right:50px;
   margin-left:80px;
}
.button {
  text-align: left;
  background-color:red;
}
table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.user{
   margin-top:73px;

}
.password{
   margin-top:11px;

}
.password_con{
   margin-top:13px;

}

input[name="LOGIN"] {
     background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 100px;
    margin: 10px;
  /* 他のスタイルプロパティも追加できます */
}
input[name="LOGIN"]:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
input[type="reset"] {
    background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 100px;
    margin-top: 64px;
    margin-left: 100px;

  /* 他のスタイルプロパティも追加できます */
}
input[type="reset"]:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
