@charset "UTF-8" ;

/*年月を動かす所*/
.monthMove {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: center;
	margin-left: 190px;
	margin-right:170px;
	height: 40px;
	margin-top: 10px;
}
.monthcontent {
	margin: 10px;
}


/*三角を作る*/
.prev {
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #20b2aa transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
}
.next {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #20b2aa;
    display: inline-block;
    width: 0;
    height: 0;
}
.prev a:hover {
	border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #66cdaa transparent transparent;
    display: inline-block;
    width: 0;
    height: 0
}
.next a:hover {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #66cdaa;
    display: inline-block;
    width: 0;
    height: 0;
}


    .bar {
      height: 20px;
      margin-bottom: 5px;
    }

    .red {
    height: 20px;
    width:12px;
      margin-bottom: 5px;
      background-color: red;
    }

	.orenge{
 	height: 20px;
    width:12px;
      margin-bottom: 30px;
      background-color: orange;
}
    .yellow {
    height: 20px;
    width:60px;
      margin-bottom: 5px;
      background-color: yellow;
    }

    .green {
    height: 20px;
    width:40px;
      margin-bottom: 5px;
      background-color: green;
    }
        .blue {
    height: 20px;
    width:40px;
      margin-bottom: 5px;
      background-color: blue;
    }
.lgtext{
			position: absolute;
    top: 155px;
    left: 70%; /* 左端からの距離を100%に指定 */
    width: 21%;
    height: 20px;
    transform: translate(-50%, -50%); /* 中央揃え */
}
.lg{
	  position: absolute;
  width: 400px;
  height: 17px;
  padding: 10px;
  left: 61%; /* 左端からの距離を100%に指定 */
  top: 35%;
  transform: translate(-50%, -50%); /* 中央揃え */
}
    .bar {
      height: 20px;
      margin-bottom: 5px;
    }

    .red {
    height: 20px;
    width:12px;
      margin-bottom: 30px;
      background-color: red;
    }

	.orenge{
 	height: 20px;
    width:12px;
      margin-bottom: 30px;
      background-color: orange;
}
    .yellow {
    height: 20px;
    width:60px;
      margin-bottom: 5px;
      background-color: yellow;
    }

    .green {
    height: 20px;
    width:40px;
      margin-bottom: 5px;
      background-color: green;
    }
        .blue {
    height: 20px;
    width:40px;
      margin-bottom: 5px;
      background-color: blue;
    }

    .goal-0 {
  position: absolute;
  width: 400px;
  height: 17px;
  padding: 10px;
  left: 65%; /* 左端からの距離を100%に指定 */
  top: 38%;
  transform: translate(-50%, -50%); /* 中央揃え */
}


.goal-1 {
      position: absolute;
      width: 400px;
      height: 17px;
      padding: 10px;
      left: 70%; /* 左端からの距離を100%に指定 */
      top:299px;
      transform: translate(-50%, -50%); /* 中央揃え */
}
.goal-2 {
      position: absolute;
      width: 400px;
      height: 17px;
      padding: 10px;
      left: 70%; /* 左端からの距離を100%に指定 */
      top:368px;
      transform: translate(-50%, -50%); /* 中央揃え */
}
.goal-3 {
      position: absolute;
      width: 400px;
      height: 17px;
      padding: 10px;
      left: 70%; /* 左端からの距離を100%に指定 */
      top:400px;
      transform: translate(-50%, -50%); /* 中央揃え */
}
.goal-4 {
      position: absolute;
      width: 400px;
      height: 17px;
      padding: 10px;
      left: 70%; /* 左端からの距離を100%に指定 */
      top:470px;
      transform: translate(-50%, -50%); /* 中央揃え */
}
#lg_gage {
    height: 3px;
    background-color: rgb(0, 255, 255);
}
#sg_gage0{
	height: 3px;
    background-color: rgb(0, 255, 255);
}
#sg_gage1{
	height: 3px;
    background-color: rgb(0, 255, 255);
}
#sg_gage2{
	height: 3px;
    background-color: rgb(0, 255, 255);
}
#sg_gage3{
	height: 3px;
    background-color: rgb(0, 255, 255);
}
#sg_gage4{
	height: 3px;
    background-color: rgb(0, 255, 255);
}
#life-frame {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(10, 0, 50, 0.6);
    display: flex;
    padding: 3px 3px;
}

#life-mark {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
                0 0 7px 7px rgb(100, 255, 255);
}
/*達成度のフォーム*/
.achieve{
	width: 20px;
	height: 20px;
}
/*各短期目標とtodo*/
.sg{
	margin-top: 25px;
	padding: 8px;
	border-top: dashed 1.5px #00fa9a;
}