@charset "UTF-8" ;

/*カレンダーのCSS*/

/*年月を動かす所*/
.monthMove {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: center;
	margin-left: 190px;
	margin-right:170px;
	background-color: #1192c1;
	height: 40px;
}
.monthcontent {
	margin: 10px;
}
/*三角を作る*/
.prev {
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #f4a460 transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
}
.next {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #f4a460;
    display: inline-block;
    width: 0;
    height: 0;
}
.prev a:hover {
	border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #66cdaa transparent transparent;
    display: inline-block;
    width: 0;
    height: 0
}
.next a:hover {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #66cdaa;
    display: inline-block;
    width: 0;
    height: 0;
}
/*短期目標を隠す*/
.sgContent{
	display: none;
}
.calculation{
	display: none;
}
/*カレンダー本体*/
.calendar {
	border-collapse: collapse;
	margin-left: 190px;
	margin-bottom: 50px;
	width: 600px;
	height:450px;
}

.calendar th, .calendar td {
	padding: 8px;
	border: 1px solid #292929;
}
.calendar td {
	vertical-align: top;
	cursor: pointer;
}
.days {
	background-color: #fffff9;
}
.Sunday {
	background-color: #fffff9;
	color: #dc143c;
}
.Saturday {
	background-color: #fffff9;
	color: #00008b;
}
.extraDays{
	background-color: #c8c8c8;
	color: #888888;
	cursor: default;
}
.calendar th {
	background-color: #f5fffa;
}