@charset "UTF-8";


    .container {
        width: 100%;

        background-color: #ffffff;
    }

    .container h2 {
        font-size: 3em;
        width: 100%;
        margin-left: 0%;
        text-align: center;
        background-color: #2fe7b3;
    }

    .container button {
        font-size: 2em;
        margin-left: 20px;
    }

    .container text-area {
        font-size: 2em;
        margin-right: 100px;

    }

    .container p {
        font-size: 1.5em;
        margin-left: 60px;
        margin-right: 60px;
    }