@charset "UTF-8";

h2 {
    font-size: 3em;
    width: 100%;
    margin-left: 0%;
    text-align: center;
    color: #2fe791;
}
.goalcontent{
	border-top: dashed 1.5px #00fa9a;
}
/*年月日を動かす所*/
.monthMove {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: center;
	margin-left: 190px;
	margin-right:170px;
	height: 40px;
	padding-top: 30px;
}
.monthcontent {
	margin: 10px;
}
/*三角を作る*/
.prev {
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #20b2aa transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
}
.next {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #20b2aa;
    display: inline-block;
    width: 0;
    height: 0;
}
.prev a:hover {
	border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #66cdaa transparent transparent;
    display: inline-block;
    width: 0;
    height: 0
}
.next a:hover {
	border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #66cdaa;
    display: inline-block;
    width: 0;
    height: 0;
}


#lgInput {
    width: 50%;
    font-size: 30px;
    border: 3px solid #2fe791;
}
#lgInput:focus {
  outline: 0;
  border: 2px solid #ff69b4;
}
.long {
    font-size: 200%;
    text-align: center;
    margin: 2%;
}
/*短期目標*/
.short {
    font-size: 140%;
    position: relative;
    margin: 0 0 250px 0;
}
.sg{
	width: 260px;
	height: 20px;
    font-size: 20px;
    border-radius: 5px;
  	border: 2px solid #c8c8c8;
}
.sg:focus {
  outline: 0;
  border: 2px solid #00fa9a;
}
#sgStart {
    font-size: 15px;
    border-radius: 5px;
  	border: 2px solid #c8c8c8;
}
#sgStart:focus{
	outline: 0;
  	border: 2px solid #00fa9a;
}
#sgEnd {
    margin-left: 12px;
    font-size: 15px;
    border-radius: 5px;
  	border: 2px solid #c8c8c8;
}
#sgEnd:focus{
	outline: 0;
  	border: 2px solid #00fa9a;
}
.first {
    position:absolute;
    position: relative;
    left: 1%;
    width: 30%;
    height:230px;
    /*border: 1px solid #0008ff;囲み線は後で消す*/
}

.second {
    position:absolute;
    top:0%; /*高さを変えて差をつけることができる*/
    left:35%;
    width: 30%;
    height:230px;
    /*border: 1px solid #0008ff;*/
}

.third {
    position:absolute;
    top:0%;
    left:70%;
    width: 30%;
    height:230px;
    /*border: 1px solid #2fe791;*/
}

.fourth {
    position:absolute;
    top:130%;
    left:17%;
    width: 30%;
    height:230px;
    /*border: 1px solid #2fe791;*/
}

.fifth {
    position:absolute;
    top:130%;
    left:55%;
    width: 30%;
    height:230px;
    margin-bottom: 20px;
     /*border: 1px solid #2fe791;*/
}

/* それぞれのToDoグループのCSS↓ */
.todo{
	width: 90%;
    font-size: 15px;
    font-size: 20px;
    border-radius: 5px;
  	border: 2px solid #c8c8c8;
}
.sg:focus {
  outline: 0;
  border: 2px solid #00fa9a;
}
/* ToDoグループここまで */

/* 登録ボタン */
#regist {
    background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 150px;
    top: 200%;
    margin-left: 42%;
    margin-top: 15%;

}
#regist:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
#regist:active {
    transform: translateY(2px);
}
footer{
	margin-top: 60px;
}