@charset "UTF-8";

h2 {
    font-size: 3em;
    width: 100%;
    margin-left: 0%;
    text-align: center;
    color: #2fe791;
}



#lgInput {
    width: 50%;
    font-size: 30px;
    border: 3px solid #2fe791;
}

.long {
    font-size: 200%;
    text-align: center;
    margin: 2%;
}

.short {
    font-size: 140%;
    position: relative;
    margin: 0 0 250px 0;
}

#sgInput1 {
    width: 70%;
    font-size: 20px;
    transform: translate(15%, 0%);
}

#sgStart {
    font-size: 15px;
}
#sgEnd {
    font-size: 15px;
}

#sgInput2 {
    width: 70%;
    font-size: 20px;
    transform: translate(15%, 0%);
}

#sgInput3 {
    width: 70%;
    font-size: 20px;
    transform: translate(15%, 0%);
}

#sgInput4{
    width: 70%;
    font-size: 20px;
    transform: translate(15%, 0%);
}

#sgInput5 {
    width: 70%;
    font-size: 20px;
    transform: translate(15%, 0%);
}

.first {
    position:absolute;
    position: relative;
    left: 1%;
    width: 30%;
    height:230px;
    /*border: 1px solid #0008ff;囲み線は後で消す*/
}

.second {
    position:absolute;
    top:0%; /*高さを変えて差をつけることができる*/
    left:35%;
    width: 30%;
    height:230px;
    /*border: 1px solid #0008ff;*/
}

.third {
    position:absolute;
    top:0%;
    left:70%;
    width: 30%;
    height:230px;
    /*border: 1px solid #2fe791;*/
}

.fourth {
    position:absolute;
    top:100%;
    left:17%;
    width: 30%;
    height:230px;
    /*border: 1px solid #2fe791;*/
}

.fifth {
    position:absolute;
    top:100%;
    left:55%;
    width: 30%;
    height:230px;
     /*border: 1px solid #2fe791;*/
}

/* それぞれのToDoグループのCSS↓ */
#tdInput1_1 {
    width: 90%;
    font-size: 15px;
}

#tdInput1_2 {
    width: 90%;
    font-size: 15px;
}

#tdInput1_3 {
    width: 90%;
    font-size: 15px;
}

#tdInput1_4 {
    width: 90%;
    font-size: 15px;
}

#tdInput1_5 {
    width: 90%;
    font-size: 15px;
}

#tdInput2_1 {
    width: 90%;
    font-size: 15px;
}

#tdInput2_2 {
    width: 90%;
    font-size: 15px;
}

#tdInput2_3 {
    width: 90%;
    font-size: 15px;
}

#tdInput2_4 {
    width: 90%;
    font-size: 15px;
}

#tdInput2_5 {
    width: 90%;
    font-size: 15px;
}

#tdInput3_1 {
    width: 90%;
    font-size: 15px;
}

#tdInput3_2 {
    width: 90%;
    font-size: 15px;
}

#tdInput3_3 {
    width: 90%;
    font-size: 15px;
}

#tdInput3_4 {
    width: 90%;
    font-size: 15px;
}

#tdInput3_5 {
    width: 90%;
    font-size: 15px;
}

#tdInput4_1 {
    width: 90%;
    font-size: 15px;
}

#tdInput4_2 {
    width: 90%;
    font-size: 15px;
}

#tdInput4_3 {
    width: 90%;
    font-size: 15px;
}

#tdInput4_4 {
    width: 90%;
    font-size: 15px;
}

#tdInput4_5 {
    width: 90%;
    font-size: 15px;
}

#tdInput5_1 {
    width: 90%;
    font-size: 15px;
}

#tdInput5_2 {
    width: 90%;
    font-size: 15px;
}

#tdInput5_3 {
    width: 90%;
    font-size: 15px;
}

#tdInput5_4 {
    width: 90%;
    font-size: 15px;
}

#tdInput5_5 {
    width: 90%;
    font-size: 15px;
}
/* ToDoグループここまで */

/* 登録ボタン */
.btn {
    background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 150px;
    margin-left: 10%;
}
.btn:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
.btn:active {
    transform: translateY(2px);
}