@charset "UTF-8";
img {
  width: 200px; /* 幅を指定 */
  height: 150px; /* 高さを指定 */
}
 table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[name="LOGIN"] {
     background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 100px;
    margin: 10px;
  /* 他のスタイルプロパティも追加できます */
}
input[name="LOGIN"]:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
input[type="reset"] {
    background: linear-gradient(to bottom, #50dbaa, #50dbc8);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    font-size: 1em;
    border-radius: 0.25em;
    height: 40px;
    width: 100px;
    margin-top: 180px;
    margin-left: 100px;
  /* 他のスタイルプロパティも追加できます */
}
input[type="reset"]:hover {
    background: linear-gradient(to bottom, #0b9f50, #91cb0b);
}
.regist{
   margin-top:130px;

}